<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Velocity view</title>
    </head>
    <body>
        <table border="1" cellpadding="5" cellspacing="5">
            <tr>
                <td><b>ADVERT TITLE</b></td>
                <td><b>MESSAGE</b></td>
                <td><b>USERNAME</b>
            </tr>
           <tr>
           #foreach ($advert in $adverts)
            <td>$advert.title</td>
            <td>$advert.message</td>
            <td>$advert.user.name</td>
           #end 
           </tr>
        </table>
    </body>
</html>